{% extends 'app_main/index.html' %}
{% block content %}

<div class="form-body">

    <!-- Header with title and subtitle -->
    <header>
        <h1>Welcome to To-Do-It</h1>
        <h2>Your new to-do list organizer</h2>
    </header>
    
    <!-- Login form -->
    <section>
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}

            <!-- Display form  -->
            {{ form.as_p }}

            <!-- Submit button -->
            <button type="submit" class="button">Login</button>
        </form>
        
        <!-- Link to registration page for users who don’t have an account -->
        <p>Don't have an account? <a id="register-link" href="{% url 'register' %}">Register</a></p>
    </section>
</div>

{% endblock content %}