{% extends 'app_main/index.html' %}
{% block content %}

<div class="head-section">
    <div>
        <h1>Hello {{request.user|title}} </h1>
        <h3>You have <strong>{{count}}</strong> incomplete todo{{ count|pluralize:"s" }}</h3>
    </div>
{% if request.user.is_authenticated %}
    <p>Welcome {{request.user}}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="button" type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="">Register</a>
{% endif %}
</div>

<div id="search-add-section">
    <form class="search-form" method="GET">
    <input type="text" name="search-area" value="{{search_input}}"> 
    <input class="button" type="submit" value="Search">
    <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
</form></div>

<div class="to-do-items-section">
    {% for task in tasks %}
        <div class="to-do-section">
            {% if task.complete %}
                <div class="to-do-title">
                    <div class="to-do-complete"></div>
                    <s><a href="{% url 'task-update' task.id %}">{{task}}</a></s>
                </div>
                <a class="delete-button" href="{% url 'task-delete' task.id %}">&#215</a>
            {% else %}
                <div class="to-do-title">
                    <div class="to-do-incomplete"></div>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete-button" href="{% url 'task-delete' task.id %}">&#215</a>
                {% endif %}
            </div>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}

</div>

{% endblock content %}