{% extends 'app_main/index.html' %}
{% block content %}

<div class="head-section">
    <div>
        <h1>Hello {{request.user|title}} </h1>
        <h3>You have <strong>{{count}}</strong> incomplete todo{{ count|pluralize:"s" }}</h3>
    </div>
{% if request.user.is_authenticated %}
    <p>Welcome {{request.user}}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="">Register</a>
{% endif %}
</div>

<!-- <a href="{% url 'task-create' %}">Add Task</a>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}"> 
    <input type="submit" value="Search">
</form> -->

<div class="to-do-items-wrapper">
    {% for task in tasks %}
        <div class="to-do-wrapper">
            {% if task.complete %}
                <div class="to-do-title">
                    <div class="to-do-complete"></div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                {% endif %}
            </div>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}

</div>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in object_list %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>

{% endblock content %}