/* styles for all elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: "Noto Sans Mono", sans-serif;
    color: #d6c7d6;
    background: #564471 !important; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

/* Heading styles */
h1, h2 {
    color: #d6c7f4;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0.1rem;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 0.1rem;
    padding: 0.3rem;
}

h3 {
    color: #d6c7f4;
}

/* Link styling */
a {
    color: #212529;
}

#login-link,
#register-link {
    color:#d6c7f4
}

/* Paragraph styling */
p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #d6c7f4;
    text-decoration: none;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #564471;
    border-bottom: 1px solid #d6c7f4;
    border-radius: 0 0 40px 40px;
}

/* Logo styling */
.logo {
    height: 3rem;
    width: 12.5rem;
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #d6c7f4;
    border-radius: 40px 40px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color:#212529;
}

/* Header section styling */
.head-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Form styling */
.form-body {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.container-main {
    margin-top: 6rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

/* Button styling */
.btn {
    margin: 0.2rem;
}

.button {
    background-color: #564471;
    color: #d6c7f4;
    border: 1px solid #d6c7f4;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.task-priority {
    width: 60px;
}

.delete-button {
    text-decoration: none;
    line-height: 0;
}

input[type="text"],
input[type="password"],
textarea,
select {
    border-radius: 5px;
    border: 1px solid #d6c7f4;
    margin: 0.1rem;
    padding: 0.5rem;
    width: 90%;
}

select {
    background-color: #fff;
    color: #212529;
}

select:focus {
    border-color: #6d5891;
    box-shadow: 0 0 5px rgba(109, 88, 145, 0.5);
    outline: none;
}

.icon-link {  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;  
    text-decoration: none;  
    color: #212529;
    width: 5rem;
    height: 5rem;   
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
}

.icon-link i {
    margin: auto;    
}

.icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5.2rem;
    height: 5.2rem;
    background: #564471;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}

.icon-link:hover::before {  
    transform: scale(1);
}

@media (max-width: 576px) {
    .icon-link {
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .icon-link::before {
        width: 2.6rem;
        height: 2.6rem;
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 0.7rem;
    }
}

strong {
    color: #fafafa;
}

label {
    color: #d6c7f4;
    display: flex;
}

#id_description {
    height: 10rem;
}